        /* Overall Style */

        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Roboto Mono;
        }

        body{
            padding-bottom: 100px;
            height: 1200px;
            background: url(/IMG/car.jpg);
            background-repeat: no-repeat;
            background-position: center ;
            padding-top: 50px;
        }

        /* Header Style */

        .header{
            background-color: black;
            color: white;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            height: 130px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;
        }

        .hamburger{
            display: none;
            cursor: pointer;
        }

        .div1_hamburger{
            background-color: white;
            height: 2px;
            width: 30px;
            margin-top: 7px;
            margin-right: 30px;
        }

        .projects{
            font-size: 50px;
            font-weight: bold;
            margin-left: 50px;
        }

        .projects a{
            text-decoration: none;
            color: white;
            animation: title 1.5s;
        }

        /* Nav Bar Style */

        .nav_bar{
            margin-right: 200px;
        }

        .nav_bar ul{
            display: flex;
            text-decoration: none;
            align-items: center;
        }

        .nav_bar ul li{
            font-size: 25px;
            margin-left: 100px;
            list-style: none;
        }

        .nav_bar ul li a{
            text-decoration: none;
            color: white;
            font-weight: bold;

        }

        .active{
            background-color: lightblue;
            padding: 10px 20px;
            border-radius: 20px;
            color: black;
            animation: active 1.2s;
        }

        .inactive{
            animation: active .7s;
        }

        .inactive a{
            transition: all ease 0.2s;
        }

        .inactive a:hover{
            background-color: lightblue;
            color: black;
            border-radius: 20px;
            padding: 10px 20px;
        }

        .inactive2{
            animation: active 1.7s;
        }

        .inactive2 a{
            transition: all ease 0.2s;
        }

        .inactive2 a:hover{
            background-color: lightblue;
            color: black;
            border-radius: 20px;
            padding: 10px 20px;
        }

        /* Bug Report Style */

        .bug_report{
            margin-top: 100px;
            height: 100px;
            font-size: 21px;
            font-weight: bold;
            width: 500px;
            margin-left: 50px;
        }

        #email_id {
            font-size: 25px;
            font-weight: bold;
            color: back;
            animation: mailme 5s;
        }

        .mail_me{
            color: black;
            transition: all ease 1s;
        }

        /* Grid View Style */

        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 40px;
            row-gap: 40px;
            margin-left: 50px;
            margin-top: 20px;
            margin-bottom: 50px;
            padding-bottom: 100px;
            margin-right: 50px;
        }

        /* Iframes Style */

        iframe{
            display: flex;
            flex: 1;
            width: 100%;
            height: 400px;
            border: none;
        }

        .iframe_01{
            border: solid 5px red;
        }

        .div1_02{
            font-size: 25px;
            font-weight: bold;
            margin: 20px 0px 0px 0px;
        }

        .hypertextlinks{
            font-size: 20px;
            text-decoration: none;
            color: white;
            background-color: black;
            padding: 10px 20px;
            margin-left: 20px;
            transition: all ease 0.3s;  
            display: inline-block;
            animation: hyperlinks 1.5s;
        }

        .hypertextlinks:hover{
            background-color: lightblue;
            color: black;
            border-radius: 20px;
            font-weight: bold;
        }

        .div1_01{
            display: block;
            position: relative;
        }

        .development{
            position: absolute;
            bottom: 15px;
            right: 15px;
            color: red;
            font-size: 20px;
        }

        .div1_02{
            display: inline-block;
        }

        /* Animation Style */

        @keyframes title{
            0%{
                opacity: 0;
                transform: translateX(-100px);
            }
            33%{
                opacity: 0.2;
            }
            66%{
                opacity: 0.8;
                color: black;
                padding: 10px 20px;
                background-color: white;
                border-radius: 30px;
            }
            100%{
                opacity: 1;
            }
        }

        @keyframes active{
            0%{
                opacity: 0;
                transform: translateY(50px);
            }
            33%{
                opacity: 0.2;
            }
            66%{
                opacity: 0.8;
            }
            100%{
                opacity: 1;
            }
        }

        @keyframes hyperlinks{
            0%{
                opacity: 0;
            }
            25%{
                opacity: 0.4;
            }
            50%{
                opacity: 0.6;
            }
            75%{
                opacity: 0.8;
            }
            100%{
                opacity: 1;
            }

        }

        @keyframes mailme{
            0%{
                
                transform: translateX(-400px);
                opacity: 0;

            }20%{
             
                color: pink;

                
            }33%{

                opacity: 1;
                transform: translateX(200px);
                color: blue;

            }66%{

                opacity: 0.6;
                color: red;

            }100%{ 

                opacity: 1;

            }
        }

        /* View Port Style */

        @media (max-width: 970px) {

            .container{
                grid-template-columns: 1fr 1fr;
            }

            .hypertextlinks{
                margin-top: 10px;
                margin-left: 0px;
            }

            .nav_bar{
                display: block;
                padding-left: 0;
                transition: all ease 3s;
            }

            .nav_bar ul{
                display: block;
                position: absolute;
                right: 20px;
                top: 100px;
                background-color: rgb(0, 0, 0);
                height: 0px; 
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                text-align: center;
                padding: 0px 30px;
                transition: all ease 1s;
            }

            .nav_bar ul li{
                margin-top: 20px;
                text-align: center;
                margin-left: 0;
                display: block;
                margin-right: 0;
                transition: all ease 1s;
                transform: translateX(1000px);
            }

            .hamburger{
                display: block;
            }

            .isActive ul{
                height: 220px;
            }

            .isActive ul li{
                transform: translateX(0px);
            }
            
        }

        @media (max-width:600px){

            .projects{
                font-size: 30px;
            }

            body{
                background-repeat:repeat;
            }

            .container{
                grid-template-columns: 1fr;
                margin: 0px 10px 50px 10px;
            }

            .div1_02{
                display: block;
                margin-bottom: 30px;
            }

            .hypertextlinks{
                margin-left: 0px;
            }

        }