@media (max-width: 1650px){
    .grid_view_content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1250px){
    .grid_view_content{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px){
    .grid_view_content{
        grid-template-columns: 1fr;
    }
}